<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
		<link rel="stylesheet" href="/public/assets/style.css" type="text/css" />
		<title>This has made me resent burgers!</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/public/assets/index.js"></script>
	</head>
	<body style="background-color: #B13912;">
		{{{ body }}}
	</body>
</html>