<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="/public/assets/style.css" type="text/css" />
		<title>This has made resent burgers!</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/public/assets/index.js"></script>
	</head>
	<body>
		{{{ body }}}
	</body>
</html>