h1 {
    text-align: center;
    font-size: 75px;
    background-color: darkred;
};
h2 {
    text-align: center;
    font-size: 30px;
    background-color: darkred;
};
ul {
    font-family: cursive;
}